@charset "UTF-8";
/* 重用模块*/
/* 参数模块*/
/* line 21, ../sass/top.scss */
.div1, .div2 {
  width: 100px;
  height: 100px;
  background: #000;
  color: yellow;
}

/* line 27, ../sass/top.scss */
.div2 {
  font-size: 20px;
}

/* line 31, ../sass/top.scss */
.div3 {
  background: #FFFF00;
}

/* line 34, ../sass/top.scss */
.div4 {
  background: #FFFF00;
  width: 400px;
  height: 400px;
  border: 1px solid #222222;
  border-radius: 10px;
}

/* 选择器嵌套  */
/* line 39, ../sass/top.scss */
#box {
  width: 1000px;
  margin: 0 auto;
  /* 属性嵌套 */
  border-left: 1px solid blue;
  border-right: 1px solid black;
  border-top: 1px solid red;
  border-bottom: 1px solid green;
}
/* line 49, ../sass/top.scss */
#box .div5 {
  background: #FFFF00;
  transition: 1s;
}
/* line 52, ../sass/top.scss */
#box .div5:hover {
  background: #000000;
  color: #fff;
}

/*定义全局变量*/
/* line 60, ../sass/top.scss */
.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, #box {
  /*通过%placeholder声明的代码，如果不被@extend调用的话，不会产生任何代码*/
  background: #0000FF;
  text-align: center;
}
@media screen and (max-width: 992px) {
  /* line 60, ../sass/top.scss */
  .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, #box {
    width: 90%;
  }
}

/* line 72, ../sass/top.scss */
#box {
  background: #fff;
}
